@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Readex+Pro:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --themeBlue: rgb(4, 41, 88);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e9ebee;
  /* font-family: "Readex Pro", sans-serif; */
}
